Source: cutefish-updator
Section: devel
Priority: optional
Maintainer: CutefishOS <cutefishos@foxmail.com>
Build-Depends:  cmake,
		libqapt-dev,
		qtbase5-dev,
		qtdeclarative5-dev,
		qtquickcontrols2-5-dev,
		qttools5-dev,
		qttools5-dev-tools,
		debhelper (>= 9)
Standards-Version: 4.6.0
Homepage: https://cutefishos.com
Rules-Requires-Root: no

Package: cutefish-updator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CutefishOS Updator.
